.panel_body {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #eedfbf;
  border: 1px solid #000;
}

.symbolButton {
  /* display: block; */
  margin: 1px;
}
.panel_body_row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3px;
}

.symbolButton:focus {
  border-color: red;
  border-style: dashed;
}

/* .symbolButton:focus:not(:focus-visible) {
  outline: none;
  border-color: black;
  border-style: solid;
} */

